{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-3">Change Password</h1>
    <form method="post">
        <div class="mb-3">
            <label for="old_password" class="form-label">Old Password</label>
            <input type="password" name="old_password" id="old_password" class="form-control {% if errors.get('old_password') %}is-invalid{% endif %}" required>
            {% if errors.get('old_password') %}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in errors['old_password'] %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input type="password" name="new_password" id="new_password" class="form-control {% if errors.get('new_password') %}is-invalid{% endif %}" required>
            {% if errors.get('new_password') %}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in errors['new_password'] %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" class="form-control {% if errors.get('confirm_password') %}is-invalid{% endif %}" required>
            {% if errors.get('confirm_password') %}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in errors['confirm_password'] %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
{% endblock %}
