{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5 text-center">Об авторе</h1>
<div class="row">
    <div class="col-md-4 mb-3">
        <img class="avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="Author">
    </div>
    <div class="col-md-8 text-justify d-flex align-items-center">
        <p>
            Гарри зарекомендовал себя как любитель дискотек и броских вещей, а также как способный детектив, отдающий
            всего себя работе, добиваясь в ней невиданных успехов. К сожалению, из-за болезненного расставания со
            своей невестой он стал терять рассудок и пристрастился к алкоголю и наркотикам, из-за которых начал
            неадекватно вести себя (так, например, был известен инцидент, когда Дюбуа насильно удерживал свидетеля),
            показывая себя как эгоистичного человека. Он рассорился со своими коллегами, потому что они "портят его
            стиль", при этом самодовольно заявив, что справится с расследованием даже без их помощи. Помимо всего
            вышеперечисленного, детектив обрёл сильное желание покончить с собой, пытаясь застрелиться, а позже
            предприняв попытку повеситься на своём галстуке.
        </p>
    </div>
</div>
{% endblock %}